:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --button-hover-color: #188CE8;
    --primary-white-color: #FFFFFF;
    --secondary-white-color: #F5F4FA;
    --address-link-color: rgba(255, 255, 255, 0.6);
    --logo-color: #000000;
    --herofooter-bg-color: #2F303A;

    }

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.accent {
    color: var(--accent-color);
}

.header {
    outline: 1px solid #ececec;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-color);
}

.logo-white {
    display: block;
    margin-bottom: 20px;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-white-color);
}

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.address-nav .link:hover,
.address-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.contacts .item + .item {
    margin-left: 50px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.hero {
    padding: 200px 0;
    text-align: center;
    background-color: var(--herofooter-bg-color);
}

.hero-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.button:hover {
    color: var(--primary-white-color);
    background-color: var(--button-hover-color);
}

.peculiarities {
    display: flex;
}

.peculiarities .item {
    width: 270px;
}

.peculiarities .item + .item {
    margin-left: 30px;
}

.peculiarities .title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
}

.image {
    padding-top: 0;
}

.picture {
    display: flex;
    width: 370;
}

.picture .item + .item {
    margin-left: 30px;
}

.section-title,
.team-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}

.section.team {    
    background-color: var(--secondary-white-color); 
}

.work-list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
}

.work-list .item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    background-color: var(--primary-white-color);
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card-content {
    padding: 30px;
    text-align: center;
}

.work-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
}

.team-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.19;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--herofooter-bg-color);
}

.address-nav .item+.item {
    margin-top: 9px;
}

.address-nav .link-nav {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-white-color);
}

.address-nav .link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--address-link-color);
}

/* Стили портфолио */

.button-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-menu .item + .item {
    margin-left: 8px;
}

.button-potrf {
    margin-top: 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: var(--title-text-color);
    background-color: var(--secondary-white-color);
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    cursor: pointer
}

.button-menu .button-potrf.active,
.button-potrf:hover,
.button-potrf:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.content .title {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.context {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.88;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.content .item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    background-color: var(--primary-white-color);
    border: 1px solid #eeeeee;
}

.card-context {
    padding: 20px;
}


